/* Nav */
.homeNav {
	color: #923b20;
	position: absolute;
	left: 85%;
	top: 70%;
}
/* About & Contact*/
.aboutContainer,
.contactContainer, .projectsContainer {
	color: #787878;
	font-family: 'Oswald', sans-serif;
	padding: 1rem 1rem 1rem 1rem;
}
.aTitle,
.cTitle,.pTitle {
	background: -webkit-linear-gradient(#fae8ba, #d59d11);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 400%;
}
.aHeading,
.cHeading,.pHeading {
	font-size: 500%;
}
.aboutContent,
.cContent {
	font-size: 140%;
	font-family: 'Tinos', serif;
}
.resume {
	color: #923b20;
}
.resume:hover {
	text-decoration: none;
	color: #d59d11;
}
.contactLinks {
	/* padding: 1rem 1rem 1rem 1rem; */
	height: 10vw;
	width: 10vw;
}
.github, .linkedin, .email {
	height: 100%;
	padding: 1rem;
}
.projectpic{
	height: 40vw;
	width: 60vw;
}
/* ----------------- */
@media (max-width: 600px){
	.github, .linkedin, .email {
	height: 200%;
}
}