.home {
	position: fixed;
}
.headshot {
	position: absolute;
	left: 45vw;
	width: 100em;
	bottom: -28em;
	height: 90em;
}
.navbar {
	font-family: 'Oswald', sans-serif;
	position: relative;
	font-size: 15rem;
	top: 8rem;
	left: 10rem;
	padding: 0px 20vw;
	color: #8e793e;
}
.sub {
	font-size: 5rem;
	color: #ad974f;
}
.helloLink::after {
	position: relative;
	content: 'Hello.';
	display: inline-block;
}
.helloLink:hover:after {
	content: 'About';
}
.projectLink::after {
	position: relative;
	content: 'I am';
	display: inline-block;
	color: #8e793e;
}
.projectLink:hover:after {
	content: 'Projects';
}
.contactLink::after {
	position: relative;
	content: 'Roshonia';
	display: inline-block;
	color: #8e793e;
}
.contactLink:hover:after {
	content: 'Contact';
}
@media only screen and (min-width: 801px) and (max-width: 1440px) {
	.headshot {
		left: 25vw;
		width: 95em;
		height: 90em;
		bottom: -28em;
	}
}
@media (max-width: 800px) {
	.navbar {
		font-size: 15vw;
	}
	.headshot {
		left: 10vw;
		width: 90em;
		bottom: -40em;
	}
}
@media (max-width: 600px) {
	.navbar {
		left: -17%;
		font-size: 680%;
	}
	.sub {
		font-size: 350%;
		padding: 0% 0%;
		text-align: center;
		left: -1%;
	}
	.helloLink::after {
		content: 'About';
	}
	.projectLink::after {
		content: 'Projects';
	}
	.contactLink::after {
		content: 'Contact';
	}
	.headshot {
		display: none;
	}
}
